# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.iobj
*.ipdb
*.tlog

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
*.db
*.user
*.opendb
*.suo
*.exp
*.log
*.idb
*.ib_pdb_index
*.filters
/daemon/.vs/daemon/v15
/daemon/.vs/daemon/v16
/MFCClient/.vs/MFCClient/v15/ipch
/MFCClient/Release/MFCClient.res
/MFCClient/DaemonApi.h
/MFCClient/ipch
/co-client/.vs/co-client/v15/ipch
/co-client/src/DaemonApi.h
/co-client/.vs/co-client/v16/ipch
/tool-win/build-tool-win-Desktop_Qt_5_13_1_MSVC2017_32bit-Release
/co-start/co-start/.vs/co-start/v15/ipch
/co-start/co-start/Release
/co-start/co-start/co-start.aps
