# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.iobj
*.ipdb
*.tlog

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
*.db
*.user
*.opendb
*.suo
*.exp
*.log
*.idb
/daemon/.vs/daemon/v15
*.ib_pdb_index
/MFCClient/.vs/MFCClient/v15/ipch
/MFCClient/Release/MFCClient.res
/MFCClient/DaemonApi.h
/MFCClient/MFCClient.vcxproj.filters
